@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-800 text-white text-lg;
}

h1 {
  @apply text-4xl mb-6;
}

h2 {
  @apply text-3xl mb-4;
}

.divider {
  @apply h-0.5 w-5/6 mx-auto bg-gradient-to-r from-transparent via-purple-400 to-transparent;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}